@page "/t2"

@{
    DateTime now = DateTime.Now;
}

@{
    if (now.Hour < 12 && now.Hour >= 5)
    {
        <h1>בוקר טוב</h1>
    }

    if (now.Hour >= 12 && now.Hour < 18)
    {
        <h1>צהריים טובים</h1>
    }

    else
    {
        <h1>ערב טוב</h1>
    }
}


