@page "/t6"

@{
    int count = 0;
    Random rand = new Random();
}

@for(int i = 1; i <= 50; i++)
{
    int num = rand.Next(1, 7);
    if(num == 6)
    {
        count++;
    }
}
<h1>The number 6 appeared @count times</h1>

