@page "/t8"

@{
    int num,num2;
    Random rand = new Random();
    Random s = new Random();
    num2 = rand.Next(1, 7) + 1;
}

<h1>@DateTime.Now.ToString("dd/MM/yyyy")</h1>
@for(int i = 0; i<6; i++)
{
    num = rand.Next(1, 37) + 1;
    <p>@num</p>
}
<h1>מספר חזק: @num2</h1>



