@page "/t5"

@{
    int min,max;
    Random random = new Random();
    Random random1 = new Random();
    min = random.Next(0, 99);
    max = random1.Next(0, 99);
}

@if (min > max)
{
    max = min;
}
<h1>Min=@min Max=@max</h1>

@for(int i = min; i <= max; i++)
{
    <span style="color:blue"> @i </span>
    <br/>
}




